body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.App {
    background-color: aliceblue;
    padding: 1rem;
}

button {
    background-color: cornflowerblue;
    padding: 1rem;
    margin: 1rem;
    border: none;
}
